<h1>Password Generator</h1>
<div>
  <label for="">Enter Length</label>
  <input (input)="onChangeLength($any($event.target).value)" />
</div>

<div>
  <label for="">Use Letters</label>
  <input (change)="onChangeUseLetters()" type="checkbox">
</div>
<div>
  <label for="">Use Numbers</label>
  <input (change)="onChangeUseNumbers()" type="checkbox">
</div>
<div>
  <label for="">Use Symbols</label>
  <input (change)="onChangeUseSymbols()" type="checkbox">
</div>

<!-- property disabled is true when there's no length, when there's a length it goes false, also needs at least one checkbox checked-->
<!-- Using STRUCTURAL DIRECTIVE -->
<div>
  <button 
    [disabled]="!(length && (includeLetters || includeNumbers || includeSymbols))" 
    (click)="onButtonClick()"
  >
    Generate!
  </button>
</div>

<!-- since we are setting up password as '', empty string is a falsy value -->

<div class="box" *ngIf="password">
  <label for="">Your Password</label>
  <input [value]="password" type="text">
</div>

